Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
#string
a = "harshitha"

In [4]:
type(a)

str

In [5]:
#list
l = [22,33,44,'you',"us",55,6+6j]

In [12]:
type(l)

list

In [7]:
#float
f = 4.567

In [8]:
type(f)

float

In [9]:
z = (2,3,4,(234,567),"har")

In [10]:
type(z)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

1.stn
2.
3.list
4.float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
# using /,%,//,**
a=10
b=20

In [13]:
#this gives queotient 
a/b

0.5

In [14]:
#gives remainder
a%b

10

In [15]:
#used for floor division
a//b

0

In [16]:
#** means power
a**b

100000000000000000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [17]:
l = [1,2,3,4,5,"harshi",5+6j,'har',9,10]
for i in l:
    print(i)

1
2
3
4
5
harshi
(5+6j)
har
9
10

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [31]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,33,66,99,333,33333,23,31,69,999,12,34,56]
for i in l:
    print(i)
    if i%3==0 :
        print("it is divisible" )
    else :
        print("it is not divisible")

1
it is not divisible
2
it is not divisible
3
it is divisible
4
it is not divisible
5
it is not divisible
6
it is divisible
7
it is not divisible
8
it is not divisible
9
it is divisible
10
it is not divisible
11
it is not divisible
12
it is divisible
13
it is not divisible
33
it is divisible
66
it is divisible
99
it is divisible
333
it is divisible
33333
it is divisible
23
it is not divisible
31
it is not divisible
69
it is divisible
999
it is divisible
12
it is divisible
34
it is not divisible
56
it is not divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [37]:
#immutability..the variables caunt be replaced
a=harshi
a[3]=444

NameError: name 'harshi' is not defined

In [54]:
#mutability..where we can replace the elements in the list
l = [123,456,"har",789]
l[3]

789

In [63]:
#immutability..where we cannot replace the variables in the list
l = [123,456,"har",789]
l [2]

'har'

In [65]:
l[2] = 222

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a=int(input())
b=int(input())
c=0
if (a/b==0:
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("not divisible")